html {
  background-color: blue;
}

h1 {
  text-align: center;
  text-decoration-color: yellow;
}

#wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 15px;
}


#table {
  table-layout: auto;
  width: 100%;
  padding: 25px;
  font-size: larger;
  background-color: yellow;
}
